@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500&family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");


* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    text-align: start;
}
a {
    text-decoration: none;
    color: inherit;
}
 