@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

* {
font-family: "Roboto", sans-serif;
font-family: "Roboto Flex", sans-serif;
}
a {
text-decoration: none;
color: inherit;
}
main > div {
    margin-top: 65px;
}
.color-pink {
    color: #ff2f6e;
}
.comment-poster_wrapper {
    width: 70px;
    height: 105px;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.comment-poster_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-image-form {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 0.5px solid lightgray;
    overflow: hidden;
}
.profile-image-form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.comment-score {
    width: 50px;
    height: 24px;
    border-radius: 12px;
    border: 0.5px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 24px;
}
.comment-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.vertical-line {
    height: 15px;
    width: 1px;
    background-color: rgb(230, 230, 230);
}
.feature-btn a, .comment-like-forms {
    width: 100%;
    height: 30px;
    transition: all 0.1s linear;
}
.feature-btn a:hover {
    background-color: #f2f2f2;
    border-radius: 6px;
}
.comment-like-forms:hover {
    background-color: #f2f2f2;
    border-radius: 6px;
}
.btn-close {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 50%;
    font-size: smaller;
}
.chat-input {
    min-height: 150px;
}
.chat-input:focus {
    outline: none;
}
.chat-btn {
    width: 100px;
    height: 40px;
    background-color: rgb(255, 47, 110) !important;
    color: white;
    opacity: 0.5;
    border-radius: 7px;
}
.chat-profile_form {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0.5px solid lightgray;
    overflow: hidden;
}
.chat-profile_form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chat-like_btn {
    max-width: 60px;
    height: 25px;
    padding: 5px 1px;
    border-radius: 5px;
    transition: all 0.1s linear;
}
.chat-like_btn:hover {
    background-color: #f2f2f2;
}
.font-15 {
    font-size: 15px;
}
.font-14 {
    font-size: 14px;
}
.font-13 {
    font-size: 13px;
}
.font-12 {
    font-size: 12px;
}

.update-input {
    width: 93%;
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
    color: gray;
    caret-color: #ff0558;
    transition: all 0.1s linear;
}
.update-input:focus {
    border-bottom: 1.5px solid #ff2f6e;
    outline: none;
}

.recomment-like_btn {
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: gray;
}
.recomment-unlike_btn {
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #ff2f6e;
}