@import url(base.css);

main > div {
    margin-top: 80px;
}

/* card 스타일 수정 */
ul {
    padding: 0;
}
li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.index-category {
    margin-bottom: 42px;
}
.index-category_title {
    padding-top: 12px;
    padding-bottom: 14px;
}
b {
    font-size: 22px;
}
.card-wrapper {
    display: flex;
}
.card-wrapper .card {
    border: none;
}
.card {
    width: calc(100%/5);/* 등분 */
}
.card-body {
    padding: 0;
    margin-top: 5px;
    margin-right: 10px;
}
.card-body div:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 3px;
}
.card-body div:nth-child(2) {
    font-size: 14px;
    color: #555765;
}
.card-body div:nth-child(3) span {
    margin-top: 5px;
    font-size: 13px;
    color: #74747b;
}
.image-wrapper {
    width: 100%;
    height: calc((100vw - 120px) * 0.2);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid lightgray;
    position: relative;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.image-wrapper img:hover {
    transform: scale(1.05);
}
/* 영화 왼쪽상단 마커 */
.rank-marker {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.77);
    opacity: 1;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    z-index: 10;
}
/* carousel 스타일 수정 */
.carousel-control-prev {
    left: -10px;
    position: absolute;
    margin-top: calc((100vw - 120px) * 0.1);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    opacity: 1;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
}
.carousel-control-next {
    right: -10px;
    position: absolute;
    margin-top: calc((100vw - 120px) * 0.1);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    opacity: 1;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
}
.carousel-control-prev span, .carousel-control-next span {
    width: 18px;
    height: 18px;
}
.color-pink {
    color: #ff2f6e !important;
}
