a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
}
li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
h2 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.more {
  color: #ff2f6e;
}
.card-wrapper {
  display: flex;
}
.card-wrapper .card {
  border: none;
}
.card {
  width: calc(100% / 5);
}
.card-body {
  padding: 0;
  margin-top: 5px;
  margin-right: 10px;
}
.card-body div:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
}
.card-body div:nth-child(2) {
  font-size: 14px;
  color: #555765;
}
.card-body div:nth-child(3) span {
  margin-top: 5px;
  font-size: 13px;
  color: #74747b;
}
.image-wrapper {
  width: 100%;
  height: calc((100vw - 120px) * 0.18);
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid lightgray;
  position: relative;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.image-wrapper img:hover {
  transform: scale(1.05);
}

/* carousel 스타일 수정 */
.carousel-control-prev {
  left: -10px;
  position: absolute;
  margin-top: calc((100vw - 120px) * 0.1);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 1;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
}
.carousel-control-next {
  right: -10px;
  position: absolute;
  margin-top: calc((100vw - 120px) * 0.1);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 1;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
}
.carousel-control-prev span,
.carousel-control-next span {
  width: 18px;
  height: 18px;
}

.category-thumnail {
  width: 71px;
  height: 71px;
  border-radius: 4px;
  overflow: hidden;
  margin: 8px;
  margin-left: 0;
}
.category-thumnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-result {
  position: sticky;
  top: 58.36px;
  align-items: center;
  background: rgb(247, 247, 247);
  color: rgb(116, 116, 123);
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  z-index: 10;
}
.search-content {
  margin-top: 80px;
}